# Default owners for everything in the repository.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
* @erolclk1 @DimitarKapashikov @Stanislava101 @hs-martinbg @IKoitchev @jokercho @stmaben @denib13 @i-amelia @lsangelov